{% extends "base.html" %}  
{% block body %}
<h2>Users</h2>
<table class="table table-bordered table-hover" id="users">
  <caption>Users</caption>
  <thead>
    <tr>
      <th>Name</th><th>Email</th><th>Role</th><th>Level</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <td><a href="{{ url_for( 'edit_user', user=user.name) }}">{{user.name}}</a></td><td>{{user.email}}</td><td>{{user.urole}}</th><td>{{user.ulevel}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
